@media screen and (max-width: 976px) {
    #sidebar {
        min-width: 100% !important;
    }

    .hide {
        display: none !important;
    }

    #sidebarButton {
        visibility: visible !important;
    }

    .wrap-mobile {
        flex-wrap: wrap;
    }

}

.hide_div {
    display: none !important;
}

.dishItem {
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 10px;
}

.dishItem > img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.dishItem > p {
    width: auto;
}
